@font-face {
  font-family: "Roboto-Flex";
  font-display: swap;
  font-weight: 100 900; /* Define the available range of weight */
  font-stretch: 75% 125%; /* Define the available range of width */
  font-style: normal;
  src: local("RobotoFlex"), local("RobotoFlex Regular"),
    url("../fonts/RobotoFlex.woff2") format("woff2"),
    url("../fonts/RobotoFlex.woff") format("woff");
}
