.faq {
   position: relative;
   background-color: $white;
   z-index: 2;
   padding: 6rem 0 9.2rem;

   &__title {
    font-family: $roboto;
    color: $green;
    text-align: center;
    font-weight: 790;
    line-height: 115%; /* 46px */
    text-transform: uppercase;
    margin: 0 0 3.5rem;
   }


   &__accordeon {
      position: relative;
      z-index: 2;
   }


   &__item {
      width: 100%;
      border-bottom: 1px solid $orange;
   }


   &__toggler {
      font-family: $monserrat;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: $green;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 116%; /* 23.2px */
      border: none;
      background: transparent;
      cursor: pointer;
      text-align: left;
      // padding: 0;
      padding: 2.1rem 0 2.1rem;

      &.active {
         .faq__down {
         display: none;
         }

         .faq__up {
         display: block;
         }

      }

      @media (max-width: $tablet) {
        padding: 1.6rem 0 1.6rem;
      }

   }

   &__icon {
      display: flex;
      width: 3.6rem;
      height: 3.6rem;
      flex-shrink: 0;

      img {
         width: 3.6rem;
         height: 3.6rem;
         fill: $orange;
         align-self: flex-start;
      }

      .faq__up {
         display: none;
      }
   }

   &__content {
      display: none;
      color: $black;
      font-family: $roboto;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 119%;
      // margin: 3rem 0 1.1rem;
      max-width: 68rem;
      padding: 0 0 1.8rem;
      font-stretch: 112%;
      letter-spacing: 0.01rem;
      margin-top: -2.1rem;

      @media (max-width: $tablet) {
        margin-top: -1.6rem;
      }


      &.active {
         display: block;
      }
   }

}
